header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #ceeca5;
}

li{
    display: inline-block;
    margin: 10px;
    color: #495057;
}

h2{
    color: #5c940d;
    font-size: 1,5rem;
}