header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #ceeca5;
    background-color: #425E29;
    padding: 8px 24px;
}

.enlaces a {  
    text-decoration: none;
    color: #ffffff;  
    transition: color 0.3s;
}

.enlaces a:hover {  
    color: #eed2d2;
}  

.enlaces a.active {  
    color: #eed2d2;
    border-bottom: 2px solid #eed2d2;
    font-weight: bold;
}  

li{
    display: inline-block;
    margin: 10px;
    color: #495057;
}

p{
    color: #5c940d;
    font-size: 1,5rem;
}

.logotienda{
    width: 70%;
}